<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,
    maximum-scale=1.0"
    />
    <title>坦克大战</title>
    <link
      rel="preload"
      href="/static/unifont.otf"
      as="font"
      type="font/otf"
      crossorigin
    />
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="/static/js/msgpack.min.js"></script>
  </head>
  <body ontouchstart="">
    <div id="gameContainer">
      <!-- SVG 将在 JavaScript 中动态创建 -->
    </div>

    <div
      id="joinForm"
      style="
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
      "
    >
      <input
        type="text"
        id="playerName"
        placeholder="输入你的名字"
        style="z-index: 10000"
      />
      <button id="joinButton" style="z-index: 10000">加入游戏</button>
    </div>

    <div id="gameInfo" style="display: none">
      <div id="playerInfoContainer">
        <div id="playerInfo">
          玩家名: <span id="playerNameDisplay"></span>
          <button id="changeNameButton">更改名字</button>
        </div>
      </div>
      <br />
      <div id="scoreBoard"></div>
      <div id="playerCount"></div>
    </div>

    <div
      id="playerList"
      style="
        display: none;
        position: fixed;
        top: 10px;
        right: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 10px;
        border-radius: 5px;
        z-index: 1000;
        font-family: GNU Unifont, sans-serif;
      "
    ></div>

    <div id="changeNameForm" style="display: none">
      <input type="text" id="newPlayerName" placeholder="输入新的名字" />
      <button id="submitNameButton">确认</button>
      <button id="cancelNameButton">取消</button>
    </div>

    <div id="waitingModal" style="display: none">
      等待其他玩家加入...<br />
      当前玩家数: <span id="currentPlayerCount"></span>
    </div>

    <div id="gameOverModal" style="display: none">
      游戏结束！<br />
      获胜者: <span id="winnerName"></span><br />
      <button id="restartButton">重新开始</button>
    </div>

    <div id="notification" style="display: none"></div>

    <div id="joystickContainer" style="display: none">
      <div id="joystick"></div>
    </div>

    <script type="module" src="static/js/main.js"></script>
  </body>
</html>
